<div>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                    <h1>Login Form</h1>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">

                        <input type="text" placeholder="Username" class="form-control" name="username"
                               [(ngModel)]="model.username" #username="ngModel" required />
                        <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>

                    </div>

                    <div class="form-group" [ngClass]="{ 'whas-error': f.submitted && !password.valid }">
                        <input type="password" placeholder="Password" class="form-control" name="password"
                               [(ngModel)]="model.password" #password="ngModel" required />
                        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                    </div>

                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <button [disabled]="loading" class="pull-left btn btn-default">Login</button>
                            </div>
                            <div class="col-md-9">
                                <div id="response" ></div>
                            </div>
                        </div>
                    </div>


                    <div class="clearfix"></div>

                    <div class="separator">
                        <div class="clearfix"></div>
                    </div>
                </form>
            </section>
        </div>


    </div>
</div>

